body  {	
  background-image: url("assets/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#gif1 {
  width: 80vh;
}

#menu {
  height: 80vh;
}